# Python virtual environment folders (used to isolate dependencies)
venv/

# Compiled Python files (automatically created during runtime)
*.pyc

#  Python cache directories (stores temporary compiled Python files)
__pycache__/

# Environment variable files (contains sensitive info like API keys)
.env

# Node.js dependencies folder (installed by npm or yarn)
node_modules/

# React build files (generated during production build, not needed in source control)
my-react-app/build/

# Oracle key
ssh-key-2025-02-12.key






# these are just images-- no need to always push/pull
avatars/

AuthKey_8VA5M37ZZZ.p8

ssh-key-2025-02-05.key
ssh-key-2025-02-05.key.pub
ssh-key-2025-02-12.key
ssh-key-2025-03-13.key
ssh-key-2025-03-13.key.pub
ssh-key-2025-04-02.key
ssh-key-2025-04-02.key.pub

nginx/logs/*.log
