/* Mostly irrelvant cuz of IOS app but still nice to have fully responsive small screen */

/* Prevents font-size adjustments on orientation changes */
html {
  -webkit-text-size-adjust: 100%;
}

input, textarea, select {
  font-size: 14px !important; /* iOS won't zoom if font size is 16px or larger */
}

@media screen and (max-width: 480px) {
  input, textarea, select {
    transform: scale(1); /* Forces hardware acceleration */
    font-size: 16px !important;
  }
}

.main-content {
  transition: all 0.1s ease; /* for a little smoothness */
}

/* Hide scrollbars globally while preserving vertical scrolling and disabling horizontal scrolling */

/* Firefox */
* {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* IE 10+ and Edge */
* {
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

/* Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

/* Global settings for scrolling behavior */
html,
body {
  overflow-y: auto;    /* Enable vertical scrolling when necessary */
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}
